* text=auto

*.py text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.csv text eol=lf
*.txt text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.db binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.mp3 binary
*.wav binary
*.wem binary
*.bnk binary

